body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.showcase {
  background: url(https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/1-new-york-city-skyline-michael-tompsett.jpg) no-repeat center/cover;
  height: 400px;
}

.showcase .overlay {
 background-color: rgba(0, 0, 0, 0.4);
 height: 400px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

